<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ticketing-system</display-name>
  
<servlet> 
        <servlet-name>Jersey-Servlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>

        <!-- Register resources and providers under following package -->
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.org.evry.ticketing.system.restapi</param-value>
        </init-param>
        <!-- <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>
                org.glassfish.jersey.media.multipart.MultiPartFeature,
                com.org.evry.ticketing.system.restapi.exception.TicketingSystemExceptionMapper,
                com.org.evry.ticketing.system.restapi.exception.GenericExceptionMapper
            </param-value>
        </init-param> -->
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>com.org.evry.ticketing.system.restapi.CORSFilter</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey-Servlet</servlet-name>
        <url-pattern>/restapi/*</url-pattern>
    </servlet-mapping>
    
    <!-- Security configuration -->
    <!-- <security-constraint>
        <web-resource-collection>
            <web-resource-name>Ticketing System Resource</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
    </security-constraint> 

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config> -->
  
</web-app>